
<app-sidebar (buttonClicked)="parentEventHandlerFunction($event)"></app-sidebar>


<div class="c-wrapper">
  <div [hidden]="category!='both'" *ngIf="category=='both'"class="c-body">

    <app-d3-scatterplot  [xparam]="xparam"[yparam]="yparam" [xcat]="xcat" [ycat]="ycat"></app-d3-scatterplot>
  </div>


  <div [hidden]="category!='categoric'" *ngIf="category=='categoric'"class="c-body">
    <app-d3-bar   [inputFromParent]="this.valueEmittedFromChildComponent" ></app-d3-bar>
  </div>
  <div [hidden]="category!='numeric'" *ngIf="category=='numeric'"class="c-body">
    <app-d3-histogram   [inputFromParent]="this.valueEmittedFromChildComponent" 
    ></app-d3-histogram>
 
  </div>

  <div  class="centered-content" *ngIf="category!='both' && category!='categoric' && category!='numeric' ">

   
   Credit Card Customers
 

  </div>
  
    

    
  
</div>
